body{
	background-image: url("https://78.media.tumblr.com/9b2cb5829b220138b889291126d360d0/tumblr_inline_oljfqsF9G91u45vj9_500.gif");
}

#title{
	color: red;
}
#cookiename{
	color: red;
}
 .price{
 	color: red;
 }